body {
    padding: 10%;
    font-size: 2rem;
}

/* input , button {
    font:inherit;
} */

p {
    /* text-decoration: underline;
    text-transform: capitalize; */
    /* text-align: justify;
    text-indent: 2em; */
    line-height: 1.5;
    /* letter-spacing: 0.1em; */
    /* word-spacing: 0.5em; */
    font-weight: lighter;
    /* font-style: italic; */
    font-family:sans-serif
}